﻿@model MovieDatabase.Models.TvShow

@{
    ViewData["Title"] = "Create Tv show";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTvShow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YoutubePreviewLink" class="control-label"></label>
                <input asp-for="YoutubePreviewLink" class="form-control" />
                <span asp-validation-for="YoutubePreviewLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartYear" class="control-label"></label>
                <input asp-for="StartYear" class="form-control" />
                <span asp-validation-for="StartYear" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndYear" class="control-label"></label>
                <input asp-for="EndYear" class="form-control" />
                <span asp-validation-for="EndYear" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NumberOfSeasons" class="control-label"></label>
                <input asp-for="NumberOfSeasons" class="form-control" />
                <span asp-validation-for="NumberOfSeasons" class="text-danger"></span>
            </div>

            <p>Add director</p>
            <div class="form-group">

                <table id="myRows" class="table">
                    <tr class="myrow">
                        <td class="section table-column-center">
                            <label asp-for="Director.FirstName" class="control-label"></label>
                            <input asp-for="Director.FirstName" type="text" class="span4 input-large search-query" />
                            <span asp-validation-for="Director.FirstName" class="text-danger"></span>
                        </td>
                        <td class="section table-column-center">
                            <label asp-for="Director.LastName" class="control-label"></label>
                            <input asp-for="Director.LastName" type="text" class="span4 input-large search-query" />
                            <span asp-validation-for="Director.LastName" class="text-danger"></span>
                        </td>
                        <td class="section table-column-center">
                            <label asp-for="Director.Image" class="control-label"></label>
                            <input asp-for="Director.Image" type="file" class="span4 input-large search-query" />
                            <span asp-validation-for="Director.Image" class="text-danger"></span>
                        </td>

                        <td class="section table-column-center">
                            <label asp-for="Director.Birthday" class="control-label"></label>
                            <input asp-for="Director.Birthday" class="span4 input-large search-query" />
                            <span asp-validation-for="Director.Birthday" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <p> Add Genre</p>
            <div class="form-group">

                <table id="myGenreRows" class="table">
                    <tr class="mygenrerow">
                        <td class="section table-column-center">
                            <label asp-for="Genres[0].Name" class="control-label"></label>
                            <input asp-for="Genres[0].Name" class="form-control" />
                            <span asp-validation-for="Genres[0].Name" class="text-danger"></span>
                        </td>
                    </tr>

                </table>
            </div>

            <div class="item-add-genre">
                <a id="add-genre-row" class="btn btn-outline-secondary">Add more genres</a>
            </div>
            <br />
            <br />
            <p>Add actors</p>
            <div class="form-group">

                <table id="myArtistRows" class="table">
                    <tr class="myartistrow">
                        <td class="section table-column-center">
                            <label asp-for="Stars[0].FirstName" class="control-label"></label>
                            <input asp-for="Stars[0].FirstName" type="text" class="span4 input-large search-query" />
                            <span asp-validation-for="Stars[0].FirstName" class="text-danger"></span>
                        </td>
                        <td class="section table-column-center">
                            <label asp-for="Stars[0].LastName" class="control-label"></label>
                            <input asp-for="Stars[0].LastName" class="span4 input-large search-query" />
                            <span asp-validation-for="Stars[0].LastName" class="text-danger"></span>
                        </td>
                        <td class="section table-column-center">
                            <label asp-for="Stars[0].Image" class="control-label"></label>
                            <input asp-for="Stars[0].Image" type="file" class="span4 input-large search-query" />
                            <span asp-validation-for="Stars[0].Image" class="text-danger"></span>
                        </td>

                        <td class="section table-column-center">
                            <label asp-for="Stars[0].Birthday" class="control-label"></label>
                            <input asp-for="Stars[0].Birthday" type="date" class="input-large search-query" />
                            <span asp-validation-for="Stars[0].Birthday" class="text-danger"></span>
                        </td>
                    </tr>

                </table>
            </div>



            <div class="item-add-artist">
                <a id="add-row-artist" class="btn btn-outline-secondary">Add more artists</a>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
    {
    <script>
        $("#add-row-artist").click(function () {
            var nextId = $(".myartistrow").length;

            var rowHtml = '<tr class="myartistrow">' +
                '<td class="section table-column-center" >' +
                '<input class="span4 input-large search-query" type="text" id="Stars_' + nextId + '_FirstName" name="Stars[' + nextId + '].FirstName" value=""/>' +

                '<span class="text-danger field-validation-valid" data-valmsg-for="Stars[' + nextId + '].Stars" data-valmsg-replace="true"></span>' +

                '</td>' +

                '<td class="section table-column-center">' +
                '<input class="span4 input-large search-query" type="text" id="Stars_' + nextId + '_LastName" name="Stars[' + nextId + '].LastName" value=""/>' +

                '<span class="text-danger field-validation-valid" data-valmsg-for="Stars[' + nextId + '].LastName" data-valmsg-replace="false"></span>' +

                '</td>' +
                '<td class="section table-column-center">' +
                '<input class="span4 input-large search-query" type="file" id="Stars_' + nextId + '_Image" name="Stars[' + nextId + '].Image" value=""/>' +

                '<span class="text-danger field-validation-valid" data-valmsg-for="Stars[' + nextId + '].Image" data-valmsg-replace="true"></span>' +

                '</td>' +

                '<td class="section table-column-center">' +
                '<input  type="date" id="Stars_' + nextId + '_Image" name="Stars[' + nextId + '].Birthday" value=""/>' +
                '<span class="data-provide="datepicker" data-valmsg-for="Stars[' + nextId + '].Birthday" data-valmsg-replace="true"></span>' +

                '</td>' +

                '</tr>';

            $("#myArtistRows").append(rowHtml);
        });
        $("#add-genre-row").click(function () {
            var nextId = $(".mygenrerow").length;

            var rowHtml = '<tr class="mygenrerow">' +
                '<td class="section table-column-center" >' +
                '<input class="form-control" type="text" id="Genres_' + nextId + '_Name" name="Genres[' + nextId + '].Name" value=""/>' +

                '<span class="text-danger field-validation-valid" data-valmsg-for="Genres[' + nextId + '].Name" data-valmsg-replace="true"></span>' +

                '</td>' +

                '</tr>';

            $("#myGenreRows").append(rowHtml);
        });
    </script>
}