﻿@model MovieDatabase.Models.TvShow
@{
}
@{
    ViewData["Title"] = "Tv show details";
}

@functions {
    public void getImage(byte[] data)
    {
        if(data == null)
        {
            return;
        }
        var base64 = Convert.ToBase64String(data);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        if (!String.IsNullOrEmpty(imgSrc))
        {
            <img src="@imgSrc" alt="IMAGES" />
        }
    }

}
<p>
    TvShow details
    <br />
</p>
@{
    getImage(Model.Image);
}



<p>
    <br />
    @Html.LabelFor(m => m.Title)
    @Html.DisplayFor(m => m.Title)
</p>
<p>
    <br />
    @Html.LabelFor(m => m.Length)
    @Html.DisplayFor(m => m.Length)
</p>
<p>
    <br />
    @Html.LabelFor(m => m.AverageRate)
    @Html.DisplayFor(m => m.AverageRate)
</p>
<p>
    <br />
    @Html.LabelFor(m => m.Description)
    @Html.DisplayFor(m => m.Description)
    <br />

    <br />
    @Html.LabelFor(m => m.StartYear)
    @Html.DisplayFor(m => m.StartYear)
    <br />

    <br />
    @Html.LabelFor(m => m.EndYear)
    @Html.DisplayFor(m => m.EndYear)
    <br />
    <br />
    @Html.LabelFor(m => m.NumberOfSeasons)
    @Html.DisplayFor(m => m.NumberOfSeasons)
    <br />
</p>

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <td>FirstName</td>
            <td>LastName</td>
            <td>Birthday</td>


        </tr>
    </thead>
    <tbody>
        @foreach (Star star in Model.Stars)
        {
            getImage(star.Image);
            <tr>
                <td>@star.FirstName</td>
                <td>@star.LastName</td>
                <td>@star.Birthday</td>
                <td>@Html.ActionLink("Show all movies/tv shows for this star", "Movies", "ListAllMoviesForStar", "Movies", new { Id = star.StarId })   </td>
            </tr>
        }

    </tbody>
</table>


<p>
    <br />
    @{
        getImage(Model.Director.Image);
    }
</p>
<div class="panel-body">
    <br />
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <td>Director firstname</td>
                <td>Directors lastname</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Director.FirstName</td>
                <td>@Model.Director.LastName</td>
                <td>@Model.Director.Birthday</td>
                <td>@Html.ActionLink("Show all movies/tv shows for this director", "ListAllMoviesForDirector", "Movies", new { Id = @Model.Director.DirectorId })   </td>
            </tr>
        </tbody>
    </table>
</div>

<p>
    <br />
</p>
<div class="panel-body">
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in Model.Genres)
            {
                <tr>
                    <td>@genre.Name</td>
                    <td>@Html.ActionLink("Show all movies/tv shows for this genre",  "ListAllMoviesForGenre", "Movies", new { Id = genre.GenreId })   </td>
                </tr>
            }
        </tbody>


    </table>
</div>
@{
    var link = Model.YoutubePreviewLink;
}
<a href=@link>Visit the movie trailer on youtube</a>



