﻿@{
    ViewData["Title"] = "Movie data webpage and database";
}

<div class="text-center">

    <h1 class="display-4">Welcome to our movie database homepage</h1>
    <form asp-controller="Movies" asp-action="Index">
        <p>

            Title: <input type="text" name="filmName" id="filmName" >
            <input type="submit" value="Search movie or tv show by name" />
        </p>
    </form>
    <a class="btn btn-primary" asp-action="MoviesAndTvShown" asp-controller="Movies">Movies and Tv shows</a>

    <a class="btn btn-primary" asp-controller="Movies" asp-action="Create">Add Movie</a>
    <a class="btn btn-primary" asp-controller="TvShow" asp-action="Create">Add tv show</a>
    <a class="btn btn-primary" asp-controller="Home" asp-action="ListUsers">List users</a>
</div>

