﻿@model MovieDatabase.Models.Movie

@{
    ViewData["Title"] = "EditMovie";
}

<h1>EditMovie</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMovieDone">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FilmId" />
            <input type="hidden" asp-for="User" />
            <input type="hidden" asp-for="Image" />

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilePath" class="control-label"></label>
                <input asp-for="FilePath" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YoutubePreviewLink" class="control-label"></label>
                <input asp-for="YoutubePreviewLink" class="form-control" />
                <span asp-validation-for="YoutubePreviewLink" class="text-danger"></span>
            </div>

            <div class="col-xs-4">
                <label asp-for="Director.FirstName" class="control-label"></label>
                <input asp-for="Director.FirstName" class="form-control" />
                <span asp-validation-for="Director.FirstName" class="text-danger"></span>

                <label asp-for="Director.LastName" class="control-label"></label>
                <input asp-for="Director.LastName" class="form-control" />
                <span asp-validation-for="Director.LastName" class="text-danger"></span>

                <label asp-for="Director.Birthday" class="control-label"></label>
                <input asp-for="Director.Birthday" class="form-control" />
                <span asp-validation-for="Director.Birthday" class="text-danger"></span>
            </div>

            <div class="col-xs-4">
                @{
                    var stars = Model.Stars;
                    <p>Participating stars</p>
                    for (int i = 0; i < stars.Count; i++)
                    {
                        <text>
                            <div>
                                <label asp-for="@stars[@i].StarId" class="control-label"></label>
                                <input type="hidden" name="stars[@i].StarId" value="@stars[i].StarId" readonly="readonly" />
                            </div>
                            <div>
                                <label asp-for="@stars[@i].FirstName" class="control-label"></label>
                                <input type="text" name="stars[@i].FirstName" value="@stars[i].FirstName" />
                            </div>
                            <div>
                                <label asp-for="@stars[@i].LastName" class="control-label"></label>
                                <input type="text" name="stars[@i].LastName" value="@stars[i].LastName" />
                            </div>
                            <div>
                                <label asp-for="@stars[@i].Birthday" class="control-label"></label>
                                <input type="text" name="stars[@i].Birthday" value="@stars[i].Birthday" />
                            </div>
                        </text>
                    }
                }
            </div>

            <div class="col-xs-4">
                @{
                    var genres = Model.Genres;
                    <p>Genres</p>
                    for (int j = 0; j < genres.Count; j++)
                    {
                        <text>
                            <div>
                                <label asp-for="@genres[@j].GenreId class=" control-label"></label>
                                <input type="text" name="genres[@j].GenreId" value="@genres[j].GenreId " readonly="readonly" />
                            </div>
                            <div>
                                <label asp-for="@genres[@j].Name" class="control-label"></label>
                                <input type="text" name="genres[@j].Name" value="@genres[j].Name" />
                            </div>
                        </text>
                    }
                }
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

