﻿@model IEnumerable<MovieDatabase.Models.Film>
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Movie data webpage and database";
}
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
<div>
    <p>
        Hello from movie index method
    </p>
    <div class="panel-body">
        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>Film</th>
                    <th>Title</th>
                    <th>Length in minutes</th>
                    <th>Director of  movie</th>
                    <th>Average Rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Film movie in Model)
                {
                    <tr onclick="location.href='@(Url.Action("ShowMovieDetails", "Movies", new {Id = movie.FilmId, Title = movie.Title, Length = movie.Length, ReleaseDate = movie.ReleaseDate }))'">
                        <td>@movie.FilmId</td>
                        <td>@movie.Title</td>
                        <td>@movie.Length</td>
                        <td>@movie.Director</td>
                        <td>@movie.AverageRate</td>
                        <td>@Html.ActionLink("Edit", "Edit", new { id = movie.FilmId })  | @Html.ActionLink("Rate movie", "RateMovie", new { id = movie.FilmId }) </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
