﻿@model MovieDatabase.ViewModels.GenreAndMoviesViewModel
@{
    ViewData["Title"] = "ListAllMoviesForGenre";
}

<h1>ListAllMoviesForGenre</h1>
<p>
    @(String.Format("{0} {1}",  "Genre", Model.MovieGenrie.Name))
</p>
<p>All movies in this genre all listed below</p>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Length</th>
            <th>Release date</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model.Movies)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Length</td>
            <td>@movie.ReleaseDate</td>
        </tr>
    }
    </tbody>

</table>
