﻿@model MovieDatabase.ViewModels.RoleAndMoviesViewModel

@{bool isActor = false; }
@{ bool isDirector = false;}
@if (Model.MovieRole.GetType() == typeof(Star))
{
    isActor = true;
}
@if (Model.MovieRole.GetType() == typeof(Director))
{
    isDirector = true;
}

@if (isActor)
{
    ViewData["Title"] = "List all movie for star";
    <h1>List all star for actor</h1>
    @(String.Format("{0} {1}, {2}, {3} ",  "Director", Model.MovieRole.FirstName, " ",  Model.MovieRole.LastName))
}
@if (isDirector)
{
    ViewData["Title"] = "List all moview for director";

    <h1>List all movie for director</h1>
    @(String.Format("{0} {1}, {2}, {3} ",  "Director", Model.MovieRole.FirstName, " ",  Model.MovieRole.LastName))
}


<p>

</p>
<table class="table table-bordered table-responsive table-hover">

    <tr>
        <th>Title</th>
        <th>Length</th>
        <th>Release date</th>
    </tr>

    @foreach (var movie in Model.Movies)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Length</td>
            <td>@movie.ReleaseDate</td>
        </tr>
    }
</table>