﻿@model MovieDatabase.ViewModels.FilmViewModel
@{
    ViewData["Title"] = "MoviesAndTvShown";
}

<h1>Movies And TvShown</h1>

<h1>Movies</h1>
<div class="panel-body">
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Length</th>
                <th>Director</th>
                <th>Rating</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (Movie movie in Model.Movies)
            {
                <tr>
                    <td>@movie.FilmId</td>
                    <td>@movie.Title</td>
                    <td>@movie.Length</td>
                    <td>@movie.Director</td>
                    <td>@movie.Rating</td>
                    <td>@Html.ActionLink("Show movie details", "ShowMovieDetails",  new { Id = movie.FilmId }) |  @Html.ActionLink("Edit", "Edit", new { id = movie.FilmId })  | @Html.ActionLink("Rate movie", "RateFilm", new { id = movie.FilmId }) </td>

                </tr>
            }
        </tbody>
    </table>

</div>
<h1>TvShown</h1>
<div class="panel-body">
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Length</th>
                <th>Director</th>
                <th>Rating</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (TvShow movie in Model.TvShows)
            {
                <tr >
                    <td>@movie.FilmId</td>
                    <td>@movie.Title</td>
                    <td>@movie.Length</td>
                    <td>@movie.Director</td>
                    <td>@movie.Rating</td>
                    <td>@Html.ActionLink("Show movie details", "ShowMovieDetails", "TvShow", new { Id = movie.FilmId }) |  @Html.ActionLink("Edit", "Edit", "TvShow", new { id = movie.FilmId })  | @Html.ActionLink("Rate movie", "RateFilm", new { id = movie.FilmId })  </td>

                </tr>
            }
        </tbody>
    </table>
</div>
