﻿@model MovieDatabase.Models.Film
@{
    //ViewData["Title"] = "Rate Movie or Tv show"; set
    // set layout to null
}
    <form asp-action="SubmitRating" method="post">
        <input type="hidden" asp-for="FilmId" />
        <p>
            @Html.TextBox("Title", null, new { @class = "form-control", @readonly = "readonly" })
        </p>
        <p>
            @Html.TextBox("ReleaseDate", null, new { @class = "form-control", @readonly = "readonly" })
        </p>
        <p>

        </p>
        <p>
            <label asp-for="Rating">Rate the movie</label>
            <input type="number" id="Rating" name="Rating" value="" />
        </p>
        <br />
        <button type="submit">Submit your rating</button>
    </form>


